---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sup Coookies?"
	description="Coookies are love!"
	pubDate={new Date('August 03 2024')}
>
	<p>
		Hello, I'm Coookies. I am a software developer and an art enthusiast. Oh, and I also occasionally write.
		Thank you for checking my pages out !
	</p>

</Layout>
